
#wallpaper{
    background-image:url(Montagne.jpg);
    background-color: #000000;
    width: 100%;
    height: 900px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    width: 100%;
    height: 100%;
}
#startPopIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#370028;
    background-color:rgba(55, 0, 40,0.5);
    width: 70%;
    height: 300px;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
#create{
    border-style: none;
    width: 40%;
    height: 30%;
    background-color: #370028;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.5vw;

}

.TitlePop{
    font-size: 3vw;
    text-align: center;
}
.Textpop{
    margin-top: 15px;
    font-size: 1.8vw;
    text-align: center;
}
#createSm{
    border-style: none;
    width: 40%;
    height: 20%;
    background-color: #370028;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 2vw;

}


*{
margin: 0%;
padding: 0%;
box-sizing: border-box;

}


.navbar{

    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #370028;
}




.nav-link{

    margin-left: 20px;
}

.fas{

    margin-right:10px ;

}
.far{

    margin-right:10px ;

}

#purple{
    background-color: #370028;
}

.container-fluid{

   display: flex;
   align-items: center;
   top: 0;
  
}
.aubergine{
    height: 60px;
    width: 40%;
}


